@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Plus Jakarta Sans;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: hsl(205, 33%, 90%);
}

.main-container {
  padding: 15px;
  width: 500px;
  background-color: white;
}
.main-container .flex-box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}
.main-container .flex-box-1 h1 {
  font-size: 25px;
  font-weight: 800;
}
.main-container .flex-box-1 h1 span {
  margin-left: 10px;
  background-color: hsl(219, 85%, 26%);
  padding: 1px 12px;
  color: white;
  border-radius: 6px;
}
.main-container .flex-box-1 p {
  color: hsl(219, 12%, 42%);
  font-weight: 600;
  cursor: pointer;
}
.main-container .notifications-container .unread {
  background-color: hsl(211, 68%, 94%);
  margin: 10px 0px;
}
.main-container .notifications-container .flex-box {
  display: flex;
  padding: 12px 12px;
  border-radius: 10px;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}
.main-container .notifications-container .flex-box img {
  width: 60px;
}
.main-container .notifications-container .flex-box p {
  word-spacing: 3px;
  color: hsl(219, 12%, 42%);
}
.main-container .notifications-container .flex-box i {
  color: red;
  font-size: 10px;
  margin-left: 8px;
}
.main-container .notifications-container .flex-box .time {
  display: block;
  font-size: 16px;
  color: hsl(219, 12%, 42%);
}
.main-container .notifications-container .flex-box .name {
  font-weight: 900;
  color: black;
  padding-right: 6px;
}
.main-container .notifications-container .flex-box .grey-text {
  font-weight: 900;
  color: hsl(219, 12%, 42%);
}
.main-container .notifications-container .flex-box .blue-text {
  color: hsl(219, 85%, 26%);
  font-weight: 900;
}
.main-container .notifications-container .col-flex-box {
  display: flex;
  flex-direction: column;
}
.main-container .notifications-container .col-flex-box .private-msg-box {
  border: 2px solid hsl(211, 68%, 94%);
  padding: 10px 10px;
  width: 250px;
  margin: 20px 0px;
  align-self: flex-end;
  text-align: left;
  border-radius: 8px;
  color: hsl(219, 12%, 42%);
  font-weight: 500;
}
.main-container .notifications-container .row-flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-container .notifications-container .row-flex-box .chess-img {
  width: 60px;
}
.hide-private-msg {
  display: block;
}
@media only screen and (min-width: 1024px) {
  body {
    padding: 50px 0px;
  }
  .main-container {
    width: 800px;
  }
  .main-container .notifications-container .col-flex-box .private-msg-box {
    width: 70%;
  }
}
